<%- include('./partials/head.ejs') %>

<section>
  <h1>Waar ben je op zoek?</h1>
  Zin om een nieuw boek te lezen of mee te doen aan een nieuw activiteit?
  <br />Hier vindt je een aantal suggesties!
</section>

  <section>
    <% if (results && results.length) { %>
      <%results.forEach(result => { %>
    
          <article>
            <img src="<%= result.coverimages %>" alt="boek">
            <h4> <%= result.titles[0] %></h4>
            <% if (result.authors) { %>
            <h5> <%= result.authors %></h5>
            <% } %>
            <p> <%= result.summaries[0] %></p>
          </article>
      
      <% }) %>
    <% } %>

     
  </section>

<%- include('./partials/foot.ejs') %>
