<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<main>

  <p><b>boeken</b></p>


  <section class="item">
    <!-- <h2>boeken </h2> -->
 
    <% if (books && books.length) { %>
      <%books.forEach(result => { %>
   
        <article class="boek">
          <img src="<%= result.coverimages %>" alt="boek">
          <h2> <%= result.titles[0] %></h2>
          <h3> <%= result.authors %></h3>
          <!-- <p> <%= result.summaries[0] %></p> -->
          <button>meer</button>
        </article>
      <% }) %>
    <% } %>
    
  </section>



<p><b>activiteiten</b></p>



  <section class="item">
    <!-- <h2>activiteiten</h2> -->
    <% if (activities && activities.length) { %>
  
      <% activities.forEach(result => { %>
    
      <article class="activiteit">
        <img src="<%= result.coverimages %>" alt="activiteit" />
        <h2><%= result.titles[0] %></h2>
        <!-- <p><%= result.summaries[0] %></p> -->
        <button>meer</button>
      </article>
    
      <% }) %>
    <% } %>

  </section>


  
  <p><b>cursussen</b></p>


  <section class="item">
    <!-- <h2>cursussen</h2> -->
  
    <% if (courses && courses.length) { %>
      <% courses.forEach(result => { %>
    
        <article class="cursussen">
          <img src="<%= result.coverimages %>" alt="cursussen" />
          <h2><%= result.titles[0] %></h2>
          <!-- <p><%= result.summaries[0] %></p> -->
          <button>meer</button>
        </article>
    
      <% }) %>
    <% } %>

  </section>
  </main>

<%- include('./partials/foot.ejs') %>
